#root,
html,
body
{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center
}

canvas {
    touch-action: none;
  }

.touch-controls {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.buttons {
    display: flex;
    padding: 10px;
}

.buttons.right{
    flex-direction: column;
}

.buttons > div {
    margin: 8px;
    color: white;
    padding: 20px;
    width: 45px;
    height:45px;
    border: 2px solid white;
    border-radius: 5%;
    text-align: center;
    line-height: 50px;
    font-size: 20pt;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.loading-screen {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-button {
    display: block;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    border: 1px black solid;
}

.hidden {
    display: none;
}