@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
#root,
html,
body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    touch-action: none;
}

.touch-controls {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.buttons {
    display: flex;
    padding: 10px;
}

.buttons.right {
    flex-direction: column;
}

.buttons > div {
    margin: 8px;
    color: white;
    padding: 20px;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 5%;
    text-align: center;
    line-height: 50px;
    font-size: 20pt;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

/* Loading Screen */

.loading-screen {
    font-family: "Inter", sans-serif;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #239d7d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    visibility: visible;
}

.loading-screen.hidden {
    visibility: hidden;
    opacity: 0%;
    transition: visibility 1s, opacity 0.5s ease-out;
    transition-delay: 0.2s;
}

.loading-bar {
    width: 400px;
    height: 5px;
    border: 1px solid white;
    margin: 4px;
    padding: 2px;
    border-radius: 15px;
    font-size: 10pt;
    max-width: 80%;
}

.loading-bar-fill {
    background-color: white;
    position: relative;
    height: 100%;
    width: 0%;
    border-radius: 7.5px;
    transition: width 0.1s ease-in-out;
}

.loading-screen-text {
    font-size: 60pt;
    display: flex;
    margin: 40px;
}

/* Start Button */
@keyframes enableButton {
    from {
        opacity: 20%;
    }
    to {
        opacity: 100%;
    }
}

.start-button {
    display: block;
    padding: 8px 15px;
    margin: 50px;
    border: 2px white solid;
    font-size: 16pt;
    opacity: 100%;
    background-color: #ffffff00;
    transition: background-color 0.2s ease-in-out;
}

.start-button:hover {
    background-color: #ffffff50;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.start-button.disabled:hover {
    background-color: #ffffff00;
    cursor: pointer;
}

.start-button.disabled {
    opacity: 20%;
    pointer-events: none;
}

.start-button.enabled {
    animation: enableButton 0.3s ease-in-out;
    opacity: 100%;
}

.loading-state {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}


